<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://test/menu.application.title" opened="true">
        <item view="User.list" title="msg://test.view.user/UserListView.title"/>
        <item view="NewEntity.list" title="msg://test.view.newentity/newEntityListView.title"/>
    </menu>

</menu-config>